@model List<EntityLayer.Concrete.Blog> 

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Blog</h5>
                </div>
                <div class="ibox-content">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Blog Adı</th>
                                <th>Blog Oluşturulma Tarihi</th>
                                <th>Blog Kategorisi</th>
                                <th>Blog Yazarı</th>
                                <th>Sil</th>
                                <th>Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr style="text-align:initial">
                                <td><img src="@item.BlogIMGURL" class="mr-2" alt="image" style="width:50px; height:50px;"></td>
                                <td>@item.BlogTitle</td>
                                <td>@item.BlogCreateDate.ToString("dd-MMM-yyyy")</td>
                                <td>@item.Category.CategoryName</td>
                                <td>@item.AppUser.UserName</td>
                                <td><a href="~/Admin/Blog/BlogDelete/@item.BlogID" class="btn btn-danger">Sil</a></td>
                                <td><a href="~/Admin/Blog/BlogUpdate/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
