@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Blog>

@{
    ViewData["Title"] = "WriterBlogGet";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@if (Model.Count > 0)
{
    <section class="section wb">
        <div class="container">
            <h4 style="color: #1874cd"><b>@Model.FirstOrDefault().AppUser.UserName'in Açmış Oldugu Konular</b></h4>
            <br /><br /><br />
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                    @foreach (var item in Model)
                    {
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="~/Blog/BlogDetails/@item.BlogID/@Url.AdresDuzenle(item.BlogTitle)" title="">
                                                <img src="@item.BlogIMGURL" alt="" class="img-fluid" style="width:600px; height:270px;">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua"><a href="~/Blog/BlogCategoryGetList/@item.CategoryID/@Url.AdresDuzenle(item.Category.CategoryName)" title="">@item.Category.CategoryName</a></span>
                                        <h4><a href="~/Blog/BlogDetails/@item.BlogID/@Url.AdresDuzenle(item.BlogTitle)" title="">@item.BlogTitle</a></h4>
                                        <p>@Html.Raw(item.BlogContent.Substring(0, item.BlogContent.Substring(0, 150).LastIndexOf(" "))) ...</p>
                                        <small style="color: #1874cd">@item.BlogCreateDate.ToString("dd-MMM-yyyy")</small>
                                        <small><a href="~/Blog/WriterBlogGet/@item.AppUserId/@Url.AdresDuzenle(item.AppUser.UserName)" title="">@item.AppUser.UserName</a></small>
                                    </div>
                                </div>

                                <hr class="invis">
                            </div>
                        </div>
                        <hr />
                    }

                    <hr class="invis">

                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("WriterBlogGet", new { page }),
               new PagedListRenderOptions
               {
                   DisplayLinkToIndividualPages = true,
                   DisplayPageCountAndCurrentLocation = false,
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" },
               })

                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        @await Component.InvokeAsync("LeftSearchLayout")
                        @await Component.InvokeAsync("LeftCategoryLayout")
                        @await Component.InvokeAsync("LeftMaximumPuan3Subject")
                        @await Component.InvokeAsync("LeftSocialMedia")
                        @await Component.InvokeAsync("LeftReklam")
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="section wb">
        <div class="container">
            <h4 style="color: #1874cd"><b>ARADIĞINIZ YAZAR'A AİT BLOG BULUNAMADI....</b></h4>
            <br /><br /><br />
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <hr class="invis">
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        @await Component.InvokeAsync("LeftSearchLayout")
                        @await Component.InvokeAsync("LeftCategoryLayout")
                        @await Component.InvokeAsync("LeftMaximumPuan3Subject")
                        @await Component.InvokeAsync("LeftSocialMedia")
                        @await Component.InvokeAsync("LeftReklam")
                    </div>
                </div>
            </div>
        </div>
    </section>

}