@model List<EntityLayer.Concrete.Message>

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@if (Model.Count > 0)
{
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-info text-white mr-2">
                    <i class="mdi mdi-comment"></i>
                </span> Mesajın Tümü
            </h3>
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <form class="forms-sample">
                            <input type="text" class="form-control" value="@item.MessageID" name="@item.MessageID" hidden />
                            <div class="form-group">
                                <label for="exampleInputName1">Gönderenin Kullanıcı Adı</label>
                                <input type="text" class="form-control" value="@item.SenderUser.UserName" name="@item.SenderUser.UserName" disabled />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Konu</label>
                                <input type="text" class="form-control" value="@item.Subject" name="@item.Subject" disabled />
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea1">Mesajınız</label>
                                <textarea class="form-control" cols="10" rows="20" disabled>@item.MessageDetails</textarea>
                            </div>
                            <a href="~/Writer/WriterInBox" class="btn-sm btn-info" color:white;">Okudum</a>
                            <a href="~/Writer/WriterMessageDelete/@item.MessageID/@(Url.AdresDuzenle(item.Subject))" class="btn-sm" style="background-color:red; color:white;">Sil</a>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3>Mesaj Bulunamadı ...</h3>
            </div>
        </div>
    </div>
}