@model List<EntityLayer.Concrete.Contact>

@{
    ViewData["Title"] = "ContactAll";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Yorumlar</h5>
                </div>
                <div class="ibox-content">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Gönderenin Adı</th>
                                <th>Gönderenin EMail Adresi</th>
                                <th>Gönderenin Mesaj Başlığı</th>
                                <th>Gönderilen Tarih</th>
                                <th>Sil</th>
                                <th>Detay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="text-align:initial">
                                    <td>@item.ContactUserName</td>
                                    <td>@item.ContactMail</td>
                                    <td>@item.ContactSubject</td>
                                    <td>@item.ContactDate.ToShortDateString() | @item.ContactDate.ToShortTimeString()</td>
                                    <td><a href="~/Admin/Contact/ContactDeleted/@item.ContactID" class="btn btn-danger">Sil</a></td>
                                    <td><a href="~/Admin/Contact/ContactDetails/@item.ContactID" class="btn btn-info">Detay</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

